{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html", "react", "jsx","tsx", "ts"],
      "plugins": ["line-numbers", "show-language"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}